<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.venns.dao.UserMapper">
    <resultMap id="UserMap" type="com.venns.pojo.User">
        <result column="pwd" property="password" />
    </resultMap>
    <select id="getUserById" resultMap="UserMap" >
        select * from mybatis.user where id = #{id}
    </select>
    <select id="getUserByLimit" parameterType="map" resultType="user" resultMap="UserMap">
        select * from mybatis.user limit #{startIndex},#{pageSize}
    </select>
    <select id="getUserByRowBounds" parameterType="map" resultType="user" resultMap="UserMap">
        select * from mybatis.user
    </select>
</mapper>